* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-form-container {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    margin: auto;
    margin-top: 6rem;
    border: purple 1px solid;
}

.login-form {
    background-color: white;   
    width: 100%;
}

.login-form-container h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 10%;
}

.login-submit-button {
    border: none;
    border-radius: 3rem;
    height: 2rem;
    width: 80%;
    background: linear-gradient(to right, #c43274, #660f66, #3d0a85);
    color: white;
    font-size: 16px;
    margin-top: 1rem;
}

.login-error-container {
    text-align: center;
    color: red;
    height: 1rem;
}