.navbar {
    z-index: -1;
    position: fixed;
    top: 0;
    background: linear-gradient(#c43274, #7843CF );
    height: 13rem;
    width: 100%;
}

.navbar img {
    width: 100%;
    height: 10rem;
}

.navbar nav {
    width: inherit; 
    height: inherit;
}

.navbar ul {
    width: inherit;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
}

.navbar li {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    width: 5rem;
}

.navbar button:hover {
    background: linear-gradient(to right, rgb(12, 87, 112), rgb(41, 153, 144));
    border-radius: 2rem;
    height: 2rem;
    cursor: pointer;
}

.navbar button {
    background-color: inherit;
    color: white;
    width: inherit;
    height: inherit;
    cursor: inherit;
    border: none;
}

.cart-icon {
    font-size: 1.5rem;
}

 .navbar-right-container {
    display: flex;
    align-items: center;
    position: absolute;
    right: 3%;
    height: inherit;
}

.navbar-right-container h4 {
    color: white;
    padding: 0 1rem 0 2rem;
}
.navbar-right-container button {
    width: 5rem;
}
