* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    background-color: black;
    height: 2.5rem;
    width: 100%;
}

.navbar nav {
    height: inherit;
}

.navbar button {
    background-color: inherit;
    color: white;
    width: inherit;
    height: inherit;
    cursor: inherit;
    border: none;
}
.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: inherit;
}

.navbar li {
    display: flex;
    align-items: center;
    height: inherit;
    margin-left: 3%;
    padding: 1%;
}

.navbar li:hover {
    background-color: gray;
    cursor: pointer;
}

/* ================================================================ */

.gallery {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.item {
    display: flex;
    flex-direction: column;
    width: 20%;
    border: black solid 1px;
    margin: 1px;
}

.product-image-container {
    display: flex;
    justify-content: center;
    border-bottom: black solid 1px;
}

.product-buttons-container {
    display: flex;
    justify-content: space-evenly;
}